<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form id="add_comment" action="{% url 'blog:add_comment' userpost.id %}" method="post">
    {% csrf_token %}
    <p>Ваш комментарий:</p>
    {{ form.as_p }}
    <p><input type="submit" value="Комментировать"></p>
</form>
</body>
</html>