<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Список тем блога</title>
</head>
<body>
<p>Сегодня уже: {% now "b d D" %}</p>
{% for userpost in userposts %}
    <p>{{ userpost.date }}</p>
    <h2><a href="{% url 'blog:detail' userpost.id %}">{{ userpost.title }}</a></h2>
    <h5>{{ userpost.text|truncatewords:10 }}</h5>
{% empty %}
    <p>Нет постов</p>
{% endfor %}
        {% if userposts.has_previous %}
            <a href="?page={{ userposts.previous_page_number }}">предыдущая</a>
        {% endif %}
            Page {{ userposts.number }} of {{ userposts.paginator.num_pages }}.
        {% if userposts.has_next %}
            <a href="?page={{ userposts.next_page_number }}">следующая</a>
        {% endif %}

</body>
</html>