<!DOCTYPE html>
<html>
<head lang="en">
    <title>Подробное описание темы</title>
</head>
<body>
<p>{{ userpost.date }}</p>

<h2><a href={% url 'blog:list_user_posts' %}>{{ userpost.title }}</a></h2>

<p>{{ userpost.text }}</p>

{% for comment in userpost.comment_set.all %}
<p>{{comment.date}}</p>
<p>{{comment.text}}</p>
{% endfor %}
<a href="{% url 'blog:add_comment' userpost.id %}">Добавить комментарий</a>

</body>
</html>